.articles {
	.inner {
		position: relative;

		& > .list {
			@include box-sizing(border-box);
			padding: 20px 0;
			margin: 0;

			.item {
				display: block;
				width: 100%;
				position: relative;
				@include box-sizing(border-box);
				@include legacy-pie-clearfix;
				margin: 0;
				padding: 5px 0 5px 0;
				border-bottom: 5px solid #999999;

				.title {
					margin-bottom: 15px;
				}

				a {
					display: block;
					text-align: right;
				}

				figure {
					//width: 200px;
					padding: 0 20px 20px 0;
					@include float-left;
					text-align: center;

					img {
						max-width: 100%;
						max-height: 100%;
					}
				}

				.text {
					display: block;
					width: 100%;
					padding: 20px 0 10px 0;

					font-size: 14px;
					line-height: 1.3;
					font-weight: normal;
					color: #333333;
					text-decoration: none;

					&:hover {
						color: #333333;
					}
				}
			}
		}
	}

	.sort-year {
		position: absolute;
		top: 10px;
		right: 0;

		.label, .year {
			display: inline-block;
			@include box-sizing(border-box);
			font-size: 16px;
			font-weight: normal;
		}

		.year {
			padding: 5px 10px;
			margin: 0 0 0 10px;
			position: relative;

			border: 1px solid #b7b7b7;
			cursor: pointer;
			background: #ffffff;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 8px;
				right: -13px;
				@include sprites-sprite(down);

			}
		}

		.list {
			@extend .year;
			list-style: none;
			position: absolute;
			top: 25px;
			right: 0;
			margin: 0;
			cursor: default;
			z-index: 1;
			display: none;

			&:after {
				content: none;
				display: none;
			}

			&.active {
				display: block;
			}

			.item {
				display: block;
				@include box-sizing(border-box);
				margin: 5px 0;

				&.active {
					a {
						text-decoration: none;
						cursor: default;
						color: #333333;
					}
				}
			}
		}
	}
}