.auth {
	display: block;
	padding: 0 0 2px 0;
	border-bottom: 1px dashed #333333;

	position: absolute;
	top: 10px;
	left: $join-width + 10;

	@include adjust-font-size-to(14px);
	font-style: italic;
	line-height: 14px;
	color: #333333;
	text-decoration: none;

	@include transition(border-bottom .2s);

	&:hover {
		color: #333333;
		border-color: rgba(0, 0, 0, 0);
	}
}

.auth-block {
	display: none;
	@include box-sizing(border-box);
	overflow: hidden;
	@include legacy-pie-clearfix;

	.title, input[type="text"], input[type="password"] {
		display: block;
		margin: 20px auto;

		font-size: 14px;
		font-weight: normal;
		font-style: italic;
	}

	input[type="text"], input[type="password"] {
		width: 280px;
		height: 31px;
		padding: 10px;
		@include border-radius(4px);
		@include background-clip(padding-box);
		background-color: #fff;

		@include input-placeholder {
			font-size: 14px;
			font-weight: normal;
			font-style: italic;
		}
	}

	input[type="submit"] {
		display: block;
		width: 72px;
		height: 28px;
		float: right;
		border: none;
		@include border-radius(4px);

		background-color: #8781bd;
		@include background-clip(padding-box);
		@include submit-sprite(auth-submit);

		color: #ffffff;
		font-style: italic;
		font-weight: normal;
		font-size: 14px;

	}

	.forgot {
		@include box-sizing(border-box);
		padding-right: 80px;

		a {
			display: block;
			margin-bottom: 5px;
		}
	}
}