.blockquote {
	width: 704px;
	padding: 30px 70px 30px 120px;
	margin: 30px 20px;
	@include box-sizing(border-box);
	position: relative;
	@include border-radius(0 10px 10px 10px);
	@include background-clip(padding-box);
	background-color: #d0d0eb;

	font-size: 16px;
	line-height: 1.3;
	font-style: italic;

	&:before {
		content: '';
		display: block;
		@include sprites-sprite(bq);
		position: absolute;
		top: 15px;
		left: 20px;
	}
}