.breadcrumbs {
	@include box-sizing(border-box);
	padding: 0;
	margin: 0 0 36px 0;
	list-style: none;

	font-size: 16px;

	&__item {
		display: inline-block;
		margin-right: 15px;
		position: relative;

		&:after {
			content: '';
			display: block;
			@include sprites-sprite(breadcrumbs);
			position: absolute;
			top: 5px;
			right: -13px;
		}

		&:last-child {
			margin-right: 0;

			&:after {
				content: none;
				display: none;
			}
		}
	}
}