h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	@include adjust-font-size-to(48px, 1);
	font-weight: normal;
	color: #666666;
}

h2 {
	@include adjust-font-size-to(36px, 1);
	font-weight: normal;
	color: #666666;
}

h3 {
	@include adjust-font-size-to(30px, 1);
	font-weight: normal;
	color: #8781bd;
}

h4 {
	@include adjust-font-size-to(24px, 1);
	font-weight: normal;
	color: #000000;
}

h5 {
	@include adjust-font-size-to(18px, 1);
	font-weight: normal;
	color: #e93f33;
}

h6 {
	@include adjust-font-size-to(16px, 1);
	font-weight: normal;
	color: #8781bd;
}

a {
	@include adjust-font-size-to(14px, 1);
	color: #8781bd;
	@include transition(color, .2s);

	&:hover {
		color: #e93f33;
	}

	&:active {
		text-decoration: none;
	}
}

$base-width: 940px;

.inner {
	@include box-sizing(border-box);
	position: relative;
	width: $base-width;
	margin: 0 auto;
}

.text-hide {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}