.desc {

	&__content {
		@include box-sizing(border-box);
		@include legacy-pie-clearfix;
	}

	&__img-caption {
		width: 325px;
		margin: 0 30px 30px 0;
		@include float-left;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__list {
		padding: 0 0 0 375px;
		list-style: none;
	}

	&__item {
		padding: 0 0 15px 0;
		position: relative;
		text-align: justify;
		line-height: 1.2;

		&:before {
			content: '';
			width: 11px;
			height: 11px;

			position: absolute;
			top: 2px;
			left: -22px;

			@include border-radius(10px);
			@include background-clip(padding-box);
			background-color: #eb554b;
		}
	}
}