.description {

	.inner {
		padding: 30px 0;
		@include legacy-pie-clearfix;
	}

	.left {
		width: 703px;
		@include box-sizing(border-box);
		padding-right: 20px;
		@include float-left;
	}

	figure {
		width: 237px;
		@include float-right;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.content {
		color: #000000;
		line-height: 1.3;
	}

	.title {
		font-weight: bold;
		color: #e93f33;
	}
}