.join {
	display: block;
	@include box-sizing(border-box);
	width: $join-width;
	min-height: 40px;
	@include border-radius(10px);
	background-color: #8781bd;
	position: absolute;
	padding: 10px 0 0 30px;

	font-family: "Myriad Pro";
	@include adjust-font-size-to(16px);
	font-weight: bold;
	text-decoration: none;
	color: $color;

	@include transition(top, .2s);

	&.top {
		left: 0;
		top: $join-top;

		&:hover {
			color: $color;
			@include translate(0, 5px);
		}
	}

	&.bottom {
		height: 45px;
		left: 345px;
		bottom: $join-bottom;
		@include border-radius(10px 10px 0 0);

		&:hover {
			color: $color;
			@include translate(0, -5px);
		}

		&:after {
			bottom: 8px;
		}
	}

	&:after {
		content: '';
		display: block;
		@include sprites-sprite(user);

		position: absolute;
		bottom: 5px;
		right: 5px;
	}


}