.lang {
	@include box-sizing(border-box);
	position: absolute;
	top: 10px;
	right: 0;

	&:after {
		content: '';
		display: block;
		@include sprites-sprite(down);
		position: absolute;
		top: 8px;
		right: -15px;
	}

	&__choosen {
		@include box-sizing(border-box);
		min-width: 100px;
		text-align: right;
		background: #ffffff;

		cursor: pointer;
	}

	&__list {
		display: none;
		@include box-sizing(border-box);
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 20px;
		right: -2px;
		z-index: 10;

		background: #ffffff;

		&.m--visible {
			display: block;
		}

		a {
			text-decoration: none;
		}
	}

	&__item {
		display: block;
		@include box-sizing(border-box);
		width: 100px;
		margin-bottom: 2px;
		padding: 5px;
		vertical-align: top;
		@include legacy-pie-clearfix;

		&:last-child {
			margin-bottom: 0;
		}

		.lang__text {
			display: block;
			@include float-left;
			margin-right: 0;
			line-height: 1.4;
		}

		img {
			display: block;
			@include float-left;
			margin-right: 5px;
		}
	}

	&__text {
		margin-right: 10px;

		font-size: 12px;
		color: #999999;
	}
}