.logo {
	display: block;
	width: 184px;
	height: 50px;
	padding-top: 32px;
	@include box-sizing(border-box);

	background: url("/img/logo.png") no-repeat center top;

	font-family: "New Baskerville CTT";
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	color: #000000;
	@include adjust-font-size-to(18px);
	line-height: 18px;

	@include transition(scale .2s);

	&:hover {
		color: #000000;
		@include scale(1.3, 1.3);
	}
}