.main-footer {
	.inner {
		min-height: 50px;
		padding-bottom: 40px;
		@include legacy-pie-clearfix;
	}

	.menu, .copyright, .social {
		float: left;
		@include box-sizing(border-box);
	}

	.social {
		margin-left: 35px;
	}

	@include background(linear-gradient(bottom, #dadce5, #FFFFFF));
	overflow: hidden;
}