.main-header {
	border-top: 10px solid #8781bd;
	@include legacy-pie-clearfix;

	&__logo {
		@include box-sizing(border-box);
		width: 345px;
		@include float-left;
		padding-top: 30px;
	}

	&__content {
		@include box-sizing(border-box);
		width: 595px;
		padding-top: 60px;
		@include float-left;
		position: relative;
	}
}