$color: black;
.menu {
	@include box-sizing(border-box);

	text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}

	&.bottom {
		width: 290px;
	}

	&__item {
		display: inline-block;
		margin: 0 0 10px 0;

		@include adjust-font-size-to(16px, 1);
		text-decoration: none;
		color: $color;

		@include transition(transform .2s);

		&:hover {
			color: $color;
			@include scale(1.1, 1.1);
		}

		&.active {
			color: #f60a0a;
		}
	}
}