.news {
	.list {
		padding: 0 0 30px 0;
		list-style: none;
		@include legacy-pie-clearfix;

		.item {
			display: block;
			width: 345px;
			padding-right: 20px;
			margin-right: 30px;
			@include box-sizing(border-box);
			@include float-left;

			&:last-child {
				margin-right: 0;
			}

			.date {
				font-weight: normal;
				color: #999999;
			}

			.title, .text {
				margin: 15px 0;
			}

			.title {
				font-size: 16px;
				font-weight: bold;
				color: #000000;

				&:after {
					content: none;
					display: none;
				}
			}

			.text {
				font-style: italic;
				line-height: 1.3;
				color: #000000;
			}

			.link {
				color: #000000;

				&:hover {
					color: #e93f33;
				}
			}

		}
	}

	.title {
		font-size: 24px;
		font-weight: normal;

		&:after {
			content: '';
			display: block;
			width: 711px;
			height: 13px;
			position: absolute;
			top: 6px;
			right: 0;
			background-color: #b6b6b6;
		}
	}
}