.paginate {
	padding: 20px 0;
	@include legacy-pie-clearfix;

	.item {
		display: block;
		min-width: 17px;
		@include float-left;
		padding: 5px;
		margin-right: 10px;

		text-align: center;
		vertical-align: middle;
		font-size: 16px;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			background: #8781bd;
			@include border-radius(20px);
			color: #ffffff;
			text-decoration: none;

			cursor: default;
		}
	}
}