.parameters {
	.inner {
		padding: 20px 0;
	}

	&__table {
		width: 100%;
		margin: 30px 0;
		border: 1px solid #545454;

		font-size: 16px;

		tr {
			&:nth-of-type(even) {
				background: #e1e1e1;
			}
		}

		td, th {
			width: 50%;
			padding: 10px;
		}

		td {
			border-right: 1px solid #545454;
			color: #666666;
		}

		th {
			text-align: left;
			font-weight: normal;
			color: #333333;
			background: #e1e1e1;
			border: 1px solid #545454;
		}
	}
}