.photos {
	margin: 20px 0;

	&__list {
		padding: 0;
		list-style: none;
		@include legacy-pie-clearfix;
	}

	&__item {
		width: 206px;
		margin: 0 20px 0 0;
		@include float-left;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}