.propose-advance {
	margin: 5px auto 30px auto;
	background: #8781bd;

	.inner {
		padding: 0 238px 0 0;
	}

	p {
		margin: 0;
		padding: 10px 0;

		font-size: 12px;
		font-style: italic;
		color: #cbc8e2;
	}
}