.propose {
	.inner {
		padding: 20px 238px 0 0;
	}

	.title {
		color: #ec594f;
	}

	.short-desc {
		margin: 0;

		font-size: 16px;
		color: #000000;

		a {
			font-style: italic;
			color: #000000;

			&:hover {
				color: #ec594f;
			}
		}
	}
}