/*! perfect-scrollbar - v0.4.11
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyeonje Alex Jun; Licensed MIT */

.scrollbar {
	width: 940px;
	@include box-sizing(border-box);
	margin: 0px auto;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.ps-container .ps-scrollbar-x-rail {
	position: absolute;
	bottom: 15px;
	height: 8px;
	@include border-radius(4px);

	background: #999999;
	opacity: .8;
	filter: alpha(opacity=80);
	@include transition(background-color .2s linear, opacity .2s linear);
}

.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail {
	opacity: 1;
	filter: alpha(opacity=100);
}

.ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover {
//	background-color: #eee;
	opacity: .9;
	filter: alpha(opacity=90)
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
//	background-color: #eee;
	opacity: .9;
	filter: alpha(opacity=90)
}

.ps-container .ps-scrollbar-y-rail {
	position: absolute;
	right: 3px;
	width: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear
}

.ps-container:hover .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail {
	opacity: .6;
	filter: alpha(opacity=60)
}

.ps-container .ps-scrollbar-y-rail:hover, .ps-container .ps-scrollbar-y-rail.hover {
	background-color: #eee;
	opacity: .9;
	filter: alpha(opacity=90)
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
	background-color: #eee;
	opacity: .9;
	filter: alpha(opacity=90)
}

.ps-container .ps-scrollbar-x {
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: -6px;
	background-color: #e93f33;
	border: 1px solid #acd274;
	@include border-radius(11px);
	@include background-clip(padding-box);
}

.ps-container.ie6 .ps-scrollbar-x {
	font-size: 0
}

/*
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
	background-color: #999
}

.ps-container .ps-scrollbar-y {
	position: absolute;
	right: 0;
	width: 8px;
	background-color: #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-o-transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear
}

.ps-container.ie6 .ps-scrollbar-y {
	font-size: 0
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
	background-color: #999
}

*/
/*.ps-container.ie .ps-scrollbar-x, .ps-container.ie .ps-scrollbar-y {
	visibility: hidden
}*/

.ps-container.ie:hover .ps-scrollbar-x, .ps-container.ie:hover .ps-scrollbar-y, .ps-container.ie.hover .ps-scrollbar-x, .ps-container.ie.hover .ps-scrollbar-y {
	visibility: visible
}