.slider {
	.inner {
		position: relative;

		.title {
			width: 595px;
			padding-top: 5px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;

			@include background(linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%));
		}
		&>.list {
			width: 100%;
			height: 335px;
			position: relative;

			&>.item {
				display: none;
				position: absolute;
				top: 0;
				left: 0;

				a {
					color: $base-font-color;
					text-decoration: none;
				}

				&.active {
					display: block;
				}

				.list {
					width: 595px;
					padding: 40px 15px 0 35px;
					position: absolute;
					top: 52px;
					right: 0;

					.item {
						padding-bottom: 15px;
						text-align: justify;
						line-height: 1.2em;

						&:before {
							content: '';
							width: 11px;
							height: 11px;

							position: absolute;
							top: 2px;
							left: -22px;

							@include border-radius(10px);
							@include background-clip(padding-box);
							background-color: #eb554b;
						}
					}
				}
			}
		}
	}

	.list {
		display: block;
		@include box-sizing(border-box);
		margin: 0;
		padding: 0;
		list-style: none;

		.item {
			@include box-sizing(border-box);
			position: relative;
		}
	}

	.control {
		display: block;
		position: absolute;
		top: 10px;
		z-index: 2;

		&.next {
			right: 15px;
			@include sprites-sprite(next);
		}

		&.prev {
			right: 75px;
			@include sprites-sprite(prev);
		}
	}
}