.start {
	min-height: 300px;
	@include background(linear-gradient(bottom, rgba(135, 129, 189, 1), rgba(255, 255, 255, 0.5) 80%));

	.title {
		padding: 30px 0;
		font-weight: bold;
		color: #8781bd;
	}

	figure {
		display: inline-block;
		margin: 0 0 0 46px;
		position: relative;

		&:first-of-type {
			margin-left: 15px;

			& .start__img-text {
				top: 28px;
				left: 17px;

				&.price {
					top: 60px;
				}
			}
		}

		&:nth-of-type(3n) {
			& .start__img-text {
				&.price {
					bottom: 33px;
					right: 10px;
					color: #91e0f7;
				}
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 60px;
			right: -40px;
			@include sprites-sprite(big-plus);
		}

		&.result {
			&:after {
				@include sprites-sprite(equal);
			}
		}

		&:last-of-type {
			&:after {
				content: none;
				display: none;
			}
		}

		figcaption {
			padding-top: 10px;
			color: #fff;
			@include adjust-font-size-to(12px, 1);
			text-align: center;
		}
	}

	&__img-text {
		margin: 0;
		padding: 0;
		position: absolute;
		font-size: 16px;
		color: #ffffff;

		&.price {
			font-size: 18px;
			color: #428cb1;
		}
	}

	.order {
		@include box-sizing(border-box);
		width: 238px;
		position: absolute;
		top: 70px;
		right: 0;
		z-index: 1;

		.inner-form {
			display: block;
			@include box-sizing(border-box);
			padding: 20px 20px 10px 20px;
			margin: 0 0 5px 0;
			background: #ffffff;
			width: 100%;
			@include border-radius(10px 10px 0 0);
			@include user-select(none);

			[type="text"], [type="email"] {
				width: 100%;
				@include box-sizing(border-box);
				padding: 10px;
				margin: 0 0 10px 0;
				border: none;
				@include border-radius(10px);
				@include background-clip(padding-box);
				background-color: #8781bd;

				@include adjust-font-size-to(16px);
				color: #ffffff;

				@include input-placeholder {
					color: #ffffff;
				}

				&:focus {
					border: none;
					outline: none;
				}
			}

			p {
				@include legacy-pie-clearfix;

				&:nth-of-type(2n) {
					margin-bottom: 0;
				}
			}

			.count {
				margin-left: 10px;
				position: relative;

				color: $base-font-color;
				text-align: center;

				.minus, .plus {
					content: '';
					display: inline-block;
				}

				.minus {
					@include sprites-sprite(minus);
				}

				.plus {
					@include sprites-sprite(plus);
				}

				input {
					width: 30px;
					display: inline;
					padding: 0;
					margin: 0;
					border: none;
					border-radius: 0;
					background: none;
				}

			}
		}

		.post-form {
			@extend .inner-form;
			padding-top: 0;
			padding-bottom: 0;
			@include border-radius(0);

			p {
				margin: 0;
				padding-top: 10px;
			}
		}

		[type="submit"] {
			display: block;
			padding: 0 80px 0 20px;
			@include box-sizing(border-box);
			@include box-shadow(none);
			width: 100%;
			height: 81px;
			border: none;
			outline: none;
			background: url("/img/submit.png") no-repeat center;

			font-size: 24px;
			color: #ffffff;
			white-space: pre;
			text-align: left;

			@include transition(transform .5s);

			&:hover {
				@include transform(rotate(720deg) scale(1.4));
			}
		}

		p {
			@include adjust-font-size-to(16px);

			.left, .right {
				min-height: 20px;
				vertical-align: baseline;
			}

			.left {
				float: left;
			}

			.right {
				float: right;
			}

			.total {
				font-size: 24px;
				font-weight: bold;
				color: #666666;
			}
			
			&.footnote {
				margin: 0;
				@include adjust-font-size-to(10px);
				color: #999999;
			}



		}
	}
}