.up {
	position: absolute;
	right: 0;
	bottom: 15px;

	color: $base-font-color;

	&:after {
		content: '';
		display: block;
		@include sprites-sprite(up);

		position: absolute;
		right: -15px;
		top: 2px;
	}
}