.videos {

	.inner {
		@include legacy-pie-clearfix;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__video {
		max-width: 560px;
		margin: 0 20px 20px 0;
		@include box-sizing(border-box);
		@include float-left;
	}

	&__content {
		width: 100%;

		line-height: 1.3;
	}
}