@import "compass";
$base-font-size: 14px;
$base-line-height: 1em;
$min-line-padding: 0;
@include establish-baseline;

// Sprites
$sprites-sprite-dimensions: true;
$sprites-spacing: 1px;
@import "sprites/*.png";
@import "submit/*.png";

// Variables
$base-font-color: #333333;
$color: white;
$join-width: 274px;
$join-top: -15px;
$join-bottom: -8px;

@import "font-face";
@import "normalize";
@import "common";
@import "main-header";
@import "join";
@import "auth";
@import "logo";
@import "menu";
@import "main-footer";
@import "copyright";
@import "social";
@import "up";
@import "slider";
@import "description";
@import "carousel";
@import "start";
@import "propose";
@import "propose-advance";
@import "news";
@import "scrollbar";
@import "fancybox";
@import "articles";
@import "paginate";
@import "breadcrumbs";
@import "desc";
@import "parameters";
@import "videos";
@import "blockquote";
@import "photos";
@import "lang";